/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito&display=swap");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: green;
  --matr-navbar-bg-rgb: 0, 100, 0;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text: lightblue;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  background: fixed center url("/images/landingPageBackground.png");
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  background-size: cover;
  --bs-heading-color: var(--matr-navbar-text-color);
  --bs-body-font-family: "Inter", sans-serif;
  --bs-body-font-weight: 300;
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}
/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}
/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}

#landing-page h1 {
  color: var(--matr-navbar-text-color);
  font-size: 60px;
}

/* Applying theme variables for p within #landing-page */
#landing-page p {
  color: var(--matr-navbar-text-color);
  font-size: 20px;
}

#center-text {
  margin-top: 150px;
}

/* changes color of "click here to register" to white */
#signin-page .alert-light a {
  color: white; /* Sets the text color to white */
}

#signup-page .already-login-button {
  color: white;
}

#signup-page .alert-light a {
  color: white;
}