@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito&display=swap");

:root {
  --button-text-color: white;
  --button-hover-text-color: lightblue;
  --matr-navbar-bg: green;
  --matr-navbar-bg-rgb: 0, 100, 0;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text: lightblue;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url("/images/5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  position: relative;
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}

#landing-page h1 {
  color: var(--matr-navbar-text-color);
  font-size: 60px;
}

#landing-page p {
  color: var(--matr-navbar-text-color);
  font-size: 20px;
}

#center-text {
  margin-top: 150px;
}


#signin-page .alert-light a {
  color: white;
}

#signup-page .already-login-button {
  color: white;
}

#signup-page .alert-light a {
  color: white;
}

.add-lost-item-heading {
  color: white;
}

.add-found-item-heading {
  color: white;
}

.found-items-heading {
  color: white;
}

.white-heading {
  color: white;
}


#landing-page a .button-custom {
  width: 150px;
  height: 50px;
  border-radius: 0;
  font-size: 16px;
  background-color: rgba(144, 238, 144, 0.6);
  border: none;
  color: var(--button-text-color, white);
}

#landing-page a .button-custom:hover {
  color: var(--button-hover-text-color, lightblue);
}

.large-image {
  margin-top: 80px;
  height: 500px;
  width: 700px;
}

.text-box {
  padding: 30px;
  border: 5px solid #ccc;
  border-radius: 0px;
  width: 920px;
  background-color: rgba(52, 58, 64, 0.9);
}

#landing-page {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.welcome-heading {
  margin-bottom: 20px;
}

.description-text, .feature-section p {
  margin-bottom: 10px;
}

.button-container a {
  text-decoration: none;
}

.button-custom {
  margin-right: 10px;
}

.feature-section {
  color: #fff;
}

.hyperlink {
  color: #0294A5;
  text-decoration: underline;
}

.image-container {
  width: 100%;
  text-align: center;
}

.responsive-image {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  margin-bottom: 100px;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  border: 5px solid transparent;
}

.responsive-image:hover {
  transform: scale(1.05);
  border: 5px solid var(--button-hover-text-color);
}

.strong-highlight {
  color: rgba(144, 238, 144, 1);
  padding: 4px;
  border-radius: 0px;
}

.hyperlink {
  color: #0294A5;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.hyperlink:hover {
  color: var(--button-hover-text-color);
}

.large-heading {
  font-size: 36px;
  color: lightgreen;
}

.leaderboard-container {
  background-color: #f8f9fa;
  border-radius: 5px;
}

.leaderboard-heading {
  margin-bottom: 30px;
  color: #343a40;
  font-family: 'Arial', sans-serif;
}

.leaderboard-table {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 19px;
}

#lb-profile-pics {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
