@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito&display=swap");

:root {
  --button-text-color: white;
  --button-hover-text-color: lightblue;
  --matr-navbar-bg: green;
  --matr-navbar-bg-rgb: 0, 100, 0;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text: lightblue;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url("/images/5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  position: relative;
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}

#landing-page h1 {
  color: var(--matr-navbar-text-color);
  font-size: 60px;
}

#landing-page p {
  color: var(--matr-navbar-text-color);
  font-size: 20px;
}

#center-text {
  margin-top: 150px;
}


#signin-page .alert-light a {
  color: white;
}

#signup-page .already-login-button {
  color: white;
}

#signup-page .alert-light a {
  color: white;
}

.add-lost-item-heading {
  color: white;
}

.add-found-item-heading {
  color: white;
}

.found-items-heading {
  color: white;
}

.white-heading {
  color: white;
}


#landing-page a .button-custom {
  width: 150px;
  height: 50px;
  border-radius: 0;
  font-size: 16px;
  background-color: rgba(144, 238, 144, 0.5);
  border: none;
  color: var(--button-text-color, white);
}

#landing-page a .button-custom:hover {
  color: var(--button-hover-text-color, lightblue);
}



